@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');




* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none !important;
    outline: none !important;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    color: #343434;
    font-weight: 400;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

a:link,
a:hover,
a:visited {
    text-decoration: none;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px 0 100px;
    
}

.navbar-brand {
    color: black;
    font-family: 'montserat', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: black;
}

#home {
    background: url("../images/header-background.jpg") no-repeat center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

/*.header:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .05;
    z-index: 2;
}*/

.v-middle {
    top: 50%;
    left: 0;
    width: 100%;
    position: absolute;

}

.row {
    margin-left: -15px;
    margin-right: -15px;

}

.caption {
    margin-top: 50px;
    margin: auto;
    color: #fff;
    text-align: center;

    h5 {
        font-size: 50px;
        font-weight: 800;
        margin-bottom: 10px;
    }
}

.hero-image {
    max-width: 200px;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 40px;
}

.hero-Information {
    padding-top: 40px;

    h5 {
        font-weight: 600;
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    .skill-buton{
        background-color: transparent;
        color: black;
        a{
            color: black;
        }
        
    }
    .skill-buton:hover{
        background-color: black;
        color: white;
        a:hover{
            color: white;
        }
    }

    

}


.skills {
    margin-top: 30px;
    
    }
    .item {
        margin-bottom: 30px;

        .skillprogress {
            width: 100%;
            border-radius: 5px;
            background: #f7f7f7;
            -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
            box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
            position: relative;
            height: 25px;

            h6 {
                color: white;
            }

        }

        .skill-percent {
            position: absolute;
            line-height: 25px;
            top: 0;
            left: 0;
            padding-left: 10px;
            height: 100%;
            width: 1%;
            border-radius: 5px;
            background-color: #1c1c1c;
            //-webkit-transition: all 1s;
            //transition: all 1s;
            color: white;

            
        }
    }


.services {
    background: #f7f7f7;

    .section-head {
        margin-bottom: 70px;
        text-align: center;
        padding-top: 60px;


        h3 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;
            font-size: 40px;
            position: relative;
            display: inline-block;
            z-index: 4;
        }
    }
}

.service-row {
    position: relative;
    padding-bottom: 80px;
}

.hero-section,
.services-section {
    margin-bottom: 80px;
}

.leftside,
.middle,
.rightside {
    margin-top: 10px;
}

.services-item {
    background-color: #fff;
    padding: 20px 60px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);

    h6 {
        font-weight: bold;
        font-size: 1.14em;
        margin-bottom: 30px;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
        line-height: 2em;
        padding-left: 10px;
        padding-right: 10px;
    }

    .services-logo {
        margin-bottom: 30px;

        img {
            max-width: 60px;
            width: 100%;
            height: auto;

        }
    }
}

.contact-section {
    padding-bottom: 100px;
}

.section-head {
    margin-bottom: 80px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 40px;
        position: relative;
        display: inline-block;
        z-index: 4;
    }
}

.contact-column {
    margin-left: auto;
    margin-right: auto;
}

.info {
    display: flex;
}

.icon {
    font-size: 25px;
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #f4f4f4;
    border-radius: 50%;
    -webkit-transition: all .5s;
    transition: all .5s;
    display: inline-block;
    a{
        color: black;
    }
}

.contact-details-holder {
    margin-bottom: 80px;
}

.form-group {
    margin-bottom: 15px;

    input {
        width: 100%;
        border: 0;
        border-radius: 5px;
        padding: 10px;
        background: #f4f4f4;
    }
}

#form_message {
    height: 160px;
    max-height: 160px;
    max-width: 100%;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background: #f4f4f4;
}

.buton {
    padding: 10px 40px;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    font-size: 13px;
    -webkit-transition: all .5s;
    transition: all .5s;
    background: #1c1c1c;
    color: white;
}

.footer-section {
    .row {
        background-color: #1c1c1c;
        padding: 20px;
        text-align: center;

        div {
            color: #cccc;
        }
    }

}
@media only screen and (max-width: 450px) {
    #home {
        background: #000;
        background: url("../images/header-background.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vh;
    }
  }

  @media only screen and (max-width: 994px){
      .navbar{
          display: none;
      }
  }